/*CSS*/

@font-face {
font-family: "bebasneue_regular";
font-style: normal;
font-weight: normal;
src: url("fonts/bebasneue_regular.eot?#iefix") format("embedded-opentype"), url("fonts/bebasneue_regular.woff") format("woff"), url("fonts/bebasneue_regular.ttf") format("truetype"), url("fonts/bebasneue_regular.svg#bebasneue_regular") format("svg");
}

html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, input, select {
border: 0 none;
margin: 0;
padding: 0;
}
body {
background: #fff;
color: #666666;
font-family: Arial;
font-size: 13px;
}
.container {
height: 100%;
width: 100%;
}
input, textarea, select{outline:none;}
a {outline: 0 none;text-decoration: none;}
a:hover {text-decoration: none;}
input{outline:none;}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {display: block;}
ul {list-style: none outside none;}
.clear {clear: both;}
.floatl {float: left;}
.floatr {float: right !important;}
.w420 {width: 420px;}
.w301 {width: 301px;}
.w190 {width: 195px;}
.w184 {width: 184px;}
.w167 {width: 167px;}
.w610 {width: 610px}
.w490 {width: 490px;}
.w85 {width: 85px}
.w55 {width: 55px;}
.w200 {width: 200px;}
.w208 {width: 208px}
.w272 {width: 272px;}
.w733 {width: 733px;}
.w202 {width: 202px;}
.w248 {width: 248px;}
.w763 {width: 763px;}
.w464 {width: 464px;}
.w300 {width: 300px;}
.w193 {width: 193px;}
.w311 {width: 311px;}
.w364 {width: 364px;}
.w243 {width: 243px;}
.w373 {width: 373px;}
.w322 {width: 322px;}
.w710 {width: 710px;}
.w420 {width: 420px;}
.w764 {width: 764px;}
.w426 {width: 426px;}
.w323 {width: 323px;}
.w689 {width: 689px;}
.w315 {width: 315px;}
.marb20 {margin-bottom: 20px !important;}
.mart20 {margin-top: 20px !important;}
.marb10 {margin-bottom: 10px !important;}
.marb30 {margin-bottom: 30px !important;}
.marb5 {margin-bottom: 5px !important;}
.marb25 {margin-bottom: 25px !important;}
.marb14 {margin-bottom: 14px !important;}
.marb15 {margin-bottom: 15px !important;}
.marb18 {margin-bottom: 15px !important;}
.marl8 {margin-left: 8px;}
.marl15 {margin-left: 15px;}
.marl25 {margin-left: 25px;}
.marl-5 {margin-left: -5px;}
.marr-5 {margin-right: -5px;}
.marr58 {margin-right: 58px !important;}
.marr22 {margin-right: 22px !important;}
.marr79 {margin-right: 79px !important;}
.marr22 {margin-right: 22px !important;}
.marr79 {margin-right: 79px !important;}
.marr35 {margin-right: 35px !important;}
.marr10 {margin-right: 10px !important;}
.mart5 {margin-top: 5px !important;}
.mart50{margin-top:50px !important;}
.marr29 {margin-right: 29px !important;}
.marr20 {margin-right: 20px !important;}
.marr10 {margin-right: 10px !important;}
.marr15 {margin-right: 15px !important;}
.marb38 {margin-bottom: 38px !important;}
.pad10{padding:10px !important}
.pad15{padding:15px !important}
.pad20{padding:20px !important}
.pad25{padding:25px !important}
.pad30{padding:30px !important}
.pad35{padding:35px !important}
.padt10 {padding-top: 10px !important;}
.padb10 {padding-bottom: 10px !important;}
.padl15 {padding-left: 15px !important;}
.padr15 {padding-right: 15px !important;}
.padb10 {padding-bottom: 10px !important;}
.padb15 {padding-bottom: 15px !important;}
.f12{font-size:12px !important;}
.f13{font-size:13px !important;}
.f14{font-size:14px !important;}
.f15{font-size:15px !important;}
.f16{font-size:16px !important;}
.f17{font-size:17px !important;}
.f18{font-size:18px !important;}
.f19{font-size:19px !important;}
.f20{font-size:20px !important;}
.f21{font-size:21px !important;}
.f22{font-size:22px !important;}
.f23{font-size:23px !important;}
input{font-family:'Lato';}
.c333{color:#333;}
.lheight20{line-height:20px !important;}
.lheight18{line-height:18px !important;}
.no_bg{background:none !important;}
.c555{color:#555;}
.cred{color:#ec1d23;}
.txt_justify{text-align:justify;}
.content_p p{margin-bottom:10px;}
.wrapper {margin: 0 auto;width:1004px;}
#preloader{background:#fff url(../images/preloader-white.gif) no-repeat center;width:100%;height:100%;position:fixed;left:0px;top:0px;z-index:50;}
.clearfix:after{display:block;height:0;content:"";clear:both;}
.map_container .map{width:100%;height:430px;position:relative;}
.map_container{width:380px;height:430px;margin:0 auto;overflow:hidden;background:url(../images/map.png) repeat-x center;background-size:contain;}
.map > div{position:absolute;min-width:70px;text-align:center;display:none;}
.map > div img{width:40px;}
.map > div span{position:absolute;top:-40px;background:#ff6b00;padding:5px 5px;width:110px;color:#fff;border-radius:2px;text-align:center;left:-25px;}
.map > div span:after{content:"";position:absolute;bottom:-20px;border-style:solid;border-width:10px;border-color:#ff6b00 transparent transparent transparent;left:50%;margin-left:-10px;}
section{padding:25px 0px;}
.ques li{padding:5px 0px;font-size:13px;}
.ques li input[type=radio]{width:18px;height:18px;vertical-align:middle;margin-right:5px;}
h3{font-size:18px;margin-bottom:10px;}
.user_info{margin-bottom:25px;}
.user_info td{padding:5px 10px;background:#ccc;}
.user_info td input{background:none;color:#000;font-size:15px;}
.overlay{position:fixed;width:100%;height:100%;background:rgba(255,255,255,0.8) url(../images/preloader.gif) no-repeat center;left:0px;top:0px;z-index:55;display:none;}
.dialog{position:fixed;background:rgba(42, 100, 206, 0.7);color:#fff;font-size:12px;bottom:15%;left:50%;margin-left:-110px;padding:12px 10px;width:200px;display:none;text-align:center;text-transform:capitalize;z-index:56;border-radius:2px;}
button{padding:8px;}
@media only screen and (max-width: 500px) {
    .map{width:100%;}
}
