@charset "utf-8";
/* CSS Document */

/**** T Condensed  ****/
@font-face {
    font-family:'T';
    src: url('../fonts/T Condensed.eot');
	src: url('../fonts/T Condensed.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/T Condensed.woff2') format('woff2'),
		 url('../fonts/T Condensed.woff') format('woff'),
		 url('../fonts/T Condensed.svg#T Condensed') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0-10FFFF;
}


/**** Futura Light  ****/
@font-face {
  font-family: 'Futura-Light';
  src: url('../fonts/Futura-Light.eot?#iefix') format('embedded-opentype'),  
  	   url('../fonts/Futura-Light.woff') format('woff'), 
	   url('../fonts/Futura-Light.ttf')  format('truetype'), 
	   url('../fonts/Futura-Light.svg#Futura-Light') format('svg'); 
  font-weight: normal;
  font-style: normal;
}


/**** Futura Medium  ****/
@font-face {
  font-family: 'Futura-Medium';
  src: url('../fonts/Futura-Medium.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/Futura-Medium.woff') format('woff'), 
	   url('../fonts/Futura-Medium.ttf')  format('truetype'), 
	   url('../fonts/Futura-Medium.svg#Futura-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}


/**** Futura Bold  ****/
@font-face {
  font-family: 'Futura-Bold';
  src: url('../fonts/Futura-Bold.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/Futura-Bold.woff') format('woff'), 
	   url('../fonts/Futura-Bold.ttf')  format('truetype'), 
	   url('../fonts/Futura-Bold.svg#Futura-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


