body {
  background: #fcfcfc;
}


#main {
  width:100%;
  margin: 0 auto;
  padding-bottom:0%;
  font-weight:300;
  font-family: 'Open Sans', Verdana;
  text-align: center;
}

.btn {
  background: #39c;
  border-radius: 4px;
  color: white;
  padding: 15px;
  text-decoration: none;
}

#popup{ position:absolute; width:100%; height:100%; display:none; }
#mask{ position:absolute; width:100%; height:100%; background:#333333; opacity:0.6; }
#contPop{ position:absolute; font-family: 'Open Sans', Verdana; font-size:12px; color:#000000; background:#ffffff; border-radius:12px; padding:50px 50px; text-align: center; top:45%; left:50%; transform: translate(-50%, -50%); }
#closeBtn{ position:absolute; font-family: 'Open Sans', Verdana; font-size:12px; color:#ffffff; background:#333333; border-radius:50px; text-align: center; top:-8%; right:-8%; padding:11px 17px; }





