@charset "utf-8";
/* CSS Document */

body {
  /* Location of the image */
/*  background-image: url(../images/homeBg.jpg);*/  
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;  
  /* Image doesn't repeat */
  background-repeat: no-repeat;  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: fixed;  
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;  
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#eee;  
  /* SHORTHAND CSS NOTATION
   * background: url(background-photo.jpg) center center cover no-repeat fixed;
   */   
}


.img
	{
		position:absolute;
		top: 0px;
		left: 0px;
		z-index: 1;
	}
	
.img1
	{
		position:absolute;
		top: 0px;
		left: 0px;
		z-index: 2;
	}